<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MYiMei.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
				<key>dateExpires</key>
				<string>2020/4/29</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSGridCollectionViewLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImageView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EmptyDataSet_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JXSegmentedView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KMPlaceholderTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reusable.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCLAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TLPhotoPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE06EC0DBFE7C04A9CC20035BC78D5287CCCD20A</string>
						<key>dateExpires</key>
						<string>2020/4/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L4S78C444</string>
						<key>name</key>
						<string>Hongliang Fu</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6L4S78C444.com.xfigo.MYiMei</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6L4S78C444</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>6L4S78C444.com.xfigo.MYiMei</string>
				</array>
			</dict>
			<key>name</key>
			<string>MYiMei.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>16c06667-673d-4fa3-935c-d86ede3d8740</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6L4S78C444</string>
				<key>name</key>
				<string>Hongliang Fu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
